<select name="{{ select.name }}">
  <option value="choose" selected>Please choose an option</option>
  {{# select }}
    <option value="{{ value }}">{{ text }}</option>
  {{/ select }}
  </select>



