<div>
  <section class="u-pa1 u-{{ colours.colourName }}50 f5 b ttu br3 br--top">{{ colours.colourName | capitalize }}</section>
  <ul class="u-mv0 u-pl0">
    <li class="c-card__item tc u-pa1 u-pa3-l background-color:{{ colours.colourName }}-100 color:{{ colours.colourName }}-500 f6">{{ colours.colourName }}-100</li>
    <li class="c-card__item tc u-pa1 u-pa3-l background-color:{{ colours.colourName }}-200 color:{{ colours.colourName }}-900 f6">{{ colours.colourName }}-200</li>
    <li class="c-card__item tc u-pa1 u-pa3-l background-color:{{ colours.colourName }}-300 color:{{ colours.colourName }}-100 f6">{{ colours.colourName }}-300</li>
    <li class="c-card__item tc u-pa1 u-pa3-l background-color:{{ colours.colourName }}-500 color:{{ colours.colourName }}-100 f6">{{ colours.colourName }}-500</li>
    <li class="c-card__item tc u-pa1 u-pa3-l background-color:{{ colours.colourName }}-800 color:{{ colours.colourName }}-100 f6">{{ colours.colourName }}-800</li>
    <li class="c-card__item tc u-pa1 u-pa3-l background-color:{{ colours.colourName }}-900 color:{{ colours.colourName }}-100 f6">{{ colours.colourName }}-900</li>
  </ul>
</div>
