{% for item in alerts %}
  <div class="c-alert c-alert--{{ item.alertTypeClass }} mt4">
    <p>{{ item.alertCopy }}</p>
    <div class="tr">
      <a href="#" class="c-btn c-btn--primary c-btn--s white">No</a>
      <a href="#" class="c-btn c-btn--primary c-btn--s white">Yes</a>
    </div>
  </div>
{% endfor %}