/* BOX
===========================================
===========================================*/

.o-box {
  padding: var(--u-m);
  // border: var(--u-xs) solid;

  color: var(--black);
  background-color: var(--white);
}

  .o-box * {
    color: inherit;
  }

  .o-box.invert {
    color: var(--white);
    background-color: var(--black);
  }



  // Size variants
  .o-box--0 {
    padding: 0;
  }

  .o-box--s {
    padding: var(--u-s);
  }

  .o-box--xs {
    padding: var(--u-xs);
  }



  // Border variants
  .o-box--borderless {
    border-color: transparent;
  }
