/* LAYOUTS
===========================================
===========================================*/

.o-wrapper {
  margin: 0 auto;
  padding-left: var(--u-m);
  padding-right: var(--u-m);

  @include mq-l {
    max-width: 60rem;
  }
}

.o-wrapper--s {
  padding-left: var(--u-s);
  padding-right: var(--u-s);
}

.o-wrapper--m {
  padding-left: var(--u-m);
  padding-right: var(--u-m);
}

.o-wrapper--l {
  padding-left: var(--u-l);
  padding-right: var(--u-l);
}

.o-wrapper--xl {
  padding-left: var(--u-xl);
  padding-right: var(--u-xl);
}

.o-wrapper--xxl {
  padding-left: var(--u-2xl);
  padding-right: var(--u-2xl);
}