/* MEDIA
===========================================
===========================================*/

/**
 * Place any image- and text-like content side-by-side, as per:
 * http://www.stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code
 */

.o-media {
  display: flex;
}

  .o-media__img {
    margin-right: var(--u-m);

    > img {
      display: block;
    }

  }

  .o-media__body {
    flex: 1;

    &,
    > :last-child {
      margin-bottom: 0;
    }

  }





/* Size variants
   ========================================================================== */

/**
 * Modify the amount of space between our image and our text. We also have
 * reversible options for all available sizes.
 */

.o-media--flush {

  > .o-media__img {
    margin-right: 0;
    margin-left: 0;
 }

}


.o-media--tiny {

  > .o-media__img {
    margin-right: var(--u-s);
  }

  &.o-media--reverse {

    > .o-media__img {
      margin-right: 0;
      margin-left: var(--u-s) / 2;
    }

  }

}


.o-media--small {

  > .o-media__img {
    margin-right: var(--u-s);
  }

  &.o-media--reverse {

    > .o-media__img {
      margin-right: 0;
      margin-left: var(--u-s);
    }

  }

}


.o-media--large {

  > .o-media__img {
    margin-right: var(--u-l);
  }

  &.o-media--reverse {

    > .o-media__img {
      margin-right: 0;
      margin-left: var(--u-l);
    }

  }

}


.o-media--huge {

  > .o-media__img {
    margin-right: var(--u-2xl);
  }

  &.o-media--reverse {

    > .o-media__img {
      margin-right: 0;
      margin-left: var(--u-2xl);
    }

  }

}





/* Reversed media objects
   ========================================================================== */

.o-media--reverse {

  > .o-media__img {
    order: 1;
    // float: right;
    margin-right: 0;
    margin-left: var(--u-m);
  }

}