<div class="aspect-ratio aspect-ratio--16x9 mb4">
  <div class="aspect-ratio--object cover" style="background:url(https://placeholdit.imgix.net/~text?txtsize=108&txt=16x9&w=960&h=420) center;"></div>
</div>

<p>
.aspect-ratio--3x4
<br>
.aspect-ratio--6x4
<br>
.aspect-ratio--4x6
<br>
.aspect-ratio--8x5
<br>
.aspect-ratio--5x8
<br>
.aspect-ratio--7x5
<br>
.aspect-ratio--5x7
<br>
.aspect-ratio--1x1
<br>
.aspect-ratio--object
</p>
