/* COLOURS
===========================================
===========================================*/

// Blue
.u-blue90     { color: $Blue90; }
.u-blue80     { color: $Blue80; }
.u-blue70     { color: $Blue70; }
.u-blue60     { color: $Blue60; }
.u-blue       { color: $Blue50; }
.u-blue40     { color: $Blue40; }
.u-blue30     { color: $Blue30; }
.u-blue20     { color: $Blue20; }
.u-blue10     { color: $Blue10; }

.u-bg-blue90  { background-color: $Blue90; }
.u-bg-blue80  { background-color: $Blue80; }
.u-bg-blue70  { background-color: $Blue70; }
.u-bg-blue60  { background-color: $Blue60; }
.u-bg-blue    { background-color: $Blue50; }
.u-bg-blue40  { background-color: $Blue40; }
.u-bg-blue30  { background-color: $Blue30; }
.u-bg-blue20  { background-color: $Blue20; }
.u-bg-blue10  { background-color: $Blue10; }



// Violet
.u-violet90      { color: $Violet90; }
.u-violet80      { color: $Violet80; }
.u-violet70      { color: $Violet70; }
.u-violet        { color: $Violet; }
.u-violet30      { color: $Violet30; }
.u-violet20      { color: $Violet20; }
.u-violet10      { color: $Violet10; }

.u-bg-violet90   { background-color: $Violet90; }
.u-bg-violet80   { background-color: $Violet80; }
.u-bg-violet70   { background-color: $Violet70; }
.u-bg-violet     { background-color: $Violet; }
.u-bg-violet30   { background-color: $Violet30; }
.u-bg-violet20   { background-color: $Violet20; }
.u-bg-violet10   { background-color: $Violet10; }



// Purple
.u-purple90      { color: $Purple90; }
.u-purple80      { color: $Purple80; }
.u-purple70      { color: $Purple70; }
.u-purple        { color: $Purple; }
.u-purple30      { color: $Purple30; }
.u-purple20      { color: $Purple20; }
.u-purple10      { color: $Purple10; }

.u-bg-purple90   { background-color: $Purple90; }
.u-bg-purple80   { background-color: $Purple80; }
.u-bg-purple70   { background-color: $Purple70; }
.u-bg-purple     { background-color: $Purple; }
.u-bg-purple30   { background-color: $Purple30; }
.u-bg-purple20   { background-color: $Purple20; }
.u-bg-purple10   { background-color: $Purple10; }



// Pink
.u-pink90      { color: $Pink90; }
.u-pink80      { color: $Pink80; }
.u-pink70      { color: $Pink70; }
.u-pink        { color: $Pink; }
.u-pink30      { color: $Pink30; }
.u-pink20      { color: $Pink20; }
.u-pink10      { color: $Pink10; }

.u-bg-pink90   { background-color: $Pink90; }
.u-bg-pink80   { background-color: $Pink80; }
.u-bg-pink70   { background-color: $Pink70; }
.u-bg-pink     { background-color: $Pink; }
.u-bg-pink30   { background-color: $Pink30; }
.u-bg-pink20   { background-color: $Pink20; }
.u-bg-pink10   { background-color: $Pink10; }



// Aqua
.u-aqua90      { color: $Aqua90; }
.u-aqua80      { color: $Aqua80; }
.u-aqua70      { color: $Aqua70; }
.u-aqua        { color: $Aqua; }
.u-aqua30      { color: $Aqua30; }
.u-aqua20      { color: $Aqua20; }
.u-aqua10      { color: $Aqua10; }

.u-bg-aqua90   { background-color: $Aqua90; }
.u-bg-aqua80   { background-color: $Aqua80; }
.u-bg-aqua70   { background-color: $Aqua70; }
.u-bg-aqua     { background-color: $Aqua; }
.u-bg-aqua30   { background-color: $Aqua30; }
.u-bg-aqua20   { background-color: $Aqua20; }
.u-bg-aqua10   { background-color: $Aqua10; }



// Pear
.u-pear90      { color: $Pear90; }
.u-pear80      { color: $Pear80; }
.u-pear70      { color: $Pear70; }
.u-pear        { color: $Pear; }
.u-pear30      { color: $Pear30; }
.u-pear20      { color: $Pear20; }
.u-pear10      { color: $Pear10; }

.u-bg-pear90   { background-color: $Pear90; }
.u-bg-pear80   { background-color: $Pear80; }
.u-bg-pear70   { background-color: $Pear70; }
.u-bg-pear     { background-color: $Pear; }
.u-bg-pear30   { background-color: $Pear30; }
.u-bg-pear20   { background-color: $Pear20; }
.u-bg-pear10   { background-color: $Pear10; }



// Gold
.u-gold90      { color: $Gold90; }
.u-gold80      { color: $Gold80; }
.u-gold70      { color: $Gold70; }
.u-gold        { color: $Gold50; }
.u-gold30      { color: $Gold30; }
.u-gold20      { color: $Gold20; }
.u-gold10      { color: $Gold10; }

.u-bg-gold90   { background-color: $Gold90; }
.u-bg-gold80   { background-color: $Gold80; }
.u-bg-gold70   { background-color: $Gold70; }
.u-bg-gold     { background-color: $Gold50; }
.u-bg-gold30   { background-color: $Gold30; }
.u-bg-gold20   { background-color: $Gold20; }
.u-bg-gold10   { background-color: $Gold10; }



// Greyscale
.u-white        { color: $White; }

.u-grey90      { color: $Grey90; }
.u-grey80      { color: $Grey80; }
.u-grey70      { color: $Grey70; }
.u-grey60      { color: $Grey60; }
.u-grey        { color: $Grey50; }
.u-grey40      { color: $Grey40; }
.u-grey30      { color: $Grey30; }
.u-grey20      { color: $Grey20; }
.u-grey10      { color: $Grey10; }

.u-black        { color: $Black; }



.u-bg-white    { background-color: $White; }

.u-bg-grey90   { background-color: $Grey90; }
.u-bg-grey80   { background-color: $Grey80; }
.u-bg-grey70   { background-color: $Grey70; }
.u-bg-grey60   { background-color: $Grey60; }
.u-bg-grey     { background-color: $Grey50; }
.u-bg-grey40   { background-color: $Grey40; }
.u-bg-grey30   { background-color: $Grey30; }
.u-bg-grey20   { background-color: $Grey20; }
.u-bg-grey10   { background-color: $Grey10; }

.u-bg-black    { background-color: $Black; }


// Utility colours
.u-positive           { color: $Positive; }
.u-positive-light     { color: $PositiveLight; }
.u-caution            { color: $Caution; }
.u-caution-light      { color: $CautionLight; }
.u-negative           { color: $Negative; }
.u-negative-light     { color: $NegativeLight; }
.u-neutral            { color: $Neutral; }
.u-neutral-light      { color: $NeutralLight; }

.u-bg-positive        { background-color: $Positive; }
.u-bg-positive-light  { background-color: $PositiveLight; }
.u-bg-caution         { background-color: $Caution; }
.u-bg-caution-light   { background-color: $CautionLight; }
.u-bg-negative        { background-color: $Negative; }
.u-bg-negative-light  { background-color: $NegativeLight; }
.u-bg-neutral         { background-color: $Neutral; }
.u-bg-neutral-light   { background-color: $NeutralLight; }

