<div class="o-box">
  {% render '@header' %}
</div>

<div class="o-box">
  <ul class="c-card-wrap">
  {% for card in card %}
    {% include '@cards' %}
  {% endfor %}
  </ul>
</div>

<div class="o-box">
  {% render '@breadcrumb' %}
</div>

