/* FORMS
===========================================
===========================================*/

table {
  border-collapse: collapse;
  border-spacing: 0;
}

  th, td {
    border: 1px solid var(--grey-500);
    padding: var(--u-s);
  }  

  th {
    text-align: left;
  }