/* TYPOGRAPHY
===========================================
===========================================*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'avalonbold', serif;
}

h1 {
  font-size: var(--f-4xl);
}

h2 {
  font-size: var(--f-3xl);
}

h3 {
  font-size: var(--f-2xl);
}

h4 {
  font-size: var(--f-xl);
}

h5 {
  font-size: var(--f-l);
}

h6 {
}

ul {
  padding-left: var(--u-m);
}

// Web Fonts
@font-face {
  font-family: 'avalon';
  src: url('../fonts/avalon_book_macroman/Avalon-Book-webfont.eot');
  src: url('../fonts/avalon_book_macroman/Avalon-Book-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/avalon_book_macroman/Avalon-Book-webfont.woff') format('woff'),
       url('../fonts/avalon_book_macroman/Avalon-Book-webfont.ttf') format('truetype'),
       url('../fonts/avalon_book_macroman/Avalon-Book-webfont.svg#avalonmedium') format('svg');
}    

@font-face {
  font-family: 'avalonmedium';
  src: url('../fonts/avalon_medium_macroman/Avalon-Medium-webfont.eot');
  src: url('../fonts/avalon_medium_macroman/Avalon-Medium-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/avalon_medium_macroman/Avalon-Medium-webfont.woff') format('woff'),
       url('../fonts/avalon_medium_macroman/Avalon-Medium-webfont.ttf') format('truetype'),
       url('../fonts/avalon_medium_macroman/Avalon-Medium-webfont.svg#avalonmedium') format('svg');
}

@font-face {
  font-family: 'avalonbold';
  src: url('../fonts/avalon_demi_macroman/Avalon-Demi-webfont.eot');
  src: url('../fonts/avalon_demi_macroman/Avalon-Demi-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/avalon_demi_macroman/Avalon-Demi-webfont.woff') format('woff'),
       url('../fonts/avalon_demi_macroman/Avalon-Demi-webfont.ttf') format('truetype'),
       url('../fonts/avalon_demi_macroman/Avalon-Demi-webfont.svg#avalonbold') format('svg');
}





























