<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.3/vue.min.js"></script>
    <link rel="stylesheet" href="/css/main.css" />
    <title>Preview</title>
  </head>
  <body>
    {{ yield | safe }}
  </body>
</html>