<div class="u-ph5-ns">
  
  <div class="u-mb3">
    <h2>Primary</h2>
    <section class="u-pa1 u-bg-blue u-blue10 f6 b ttu br3 br--top">Blue</section>
    <ul class="c-card c-card--no-gap c-card--no-border c-card--ninths u-mv0 u-pl0">
      <li class="c-card__item tc u-pa1 u-pa3-l u-bg-blue90 u-blue10 f6 br3 br--bottom br--left">Blue90</li>
      <li class="c-card__item tc u-pa1 u-pa3-l u-bg-blue80 u-blue10 f6">Blue80</li>
      <li class="c-card__item tc u-pa1 u-pa3-l u-bg-blue70 u-blue10 f6">Blue70</li>
      <li class="c-card__item tc u-pa1 u-pa3-l u-bg-blue60 u-blue10 f6">Blue60</li>
      <li class="c-card__item tc u-pa1 u-pa3-l u-bg-blue u-blue10 f6">Base</li>
      <li class="c-card__item tc u-pa1 u-pa3-l u-bg-blue40 u-blue10 f6">Blue40</li>
      <li class="c-card__item tc u-pa1 u-pa3-l u-bg-blue30 u-blue10 f6">Blue30</li>
      <li class="c-card__item tc u-pa1 u-pa3-l u-bg-blue20 u-blue90 f6">Blue20</li>
      <li class="c-card__item tc u-pa1 u-pa3-l u-bg-blue10 u-blue90 f6 br3 br--bottom br--right">Blue10</li>
    </ul>
  </div>

  <div class="u-mb3">
    <h2>Neutral</h2>
    <section class="u-pa1 u-bg-grey u-grey10 f6 b ttu br3 br--top">Grey</section>
    <ul class="c-card c-card--no-gap c-card--no-border c-card--ninths u-mv0 u-pl0">
      <li class="c-card__item u-pa1 u-pa3-l u-bg-grey90 u-grey20 f6">Grey90</li>
      <li class="c-card__item u-pa1 u-pa3-l u-bg-grey80 u-grey20 f6">Grey80</li>
      <li class="c-card__item u-pa1 u-pa3-l u-bg-grey70 u-grey20 f6">Grey70</li>
      <li class="c-card__item u-pa1 u-pa3-l u-bg-grey60 u-grey20 f6">Grey60</li>
      <li class="c-card__item u-pa1 u-pa3-l u-bg-grey u-grey10 f6">Base</li>
      <li class="c-card__item u-pa1 u-pa3-l u-bg-grey40 u-grey10 f6">Grey40</li>
      <li class="c-card__item u-pa1 u-pa3-l u-bg-grey30 u-grey10 f6">Grey30</li>
      <li class="c-card__item u-pa1 u-pa3-l u-bg-grey20 u-grey80 f6">Grey20</li>
      <li class="c-card__item u-pa1 u-pa3-l u-bg-grey10 u-grey80 f6">Grey10</li>
    </ul>
  </div>

  <div class="u-mb3">
    <h2>Accents</h2>
    <section class="u-pa1 u-bg-violet u-violet10 f6 b ttu br3 br--top">Violet</section>
    <ul class="c-card c-card--no-gap c-card--no-border c-card--sevenths u-mv0 u-pl0">
      <li class="c-card__item u-pa1 u-pa3-l u-bg-violet90 u-violet10 f6 br3 br--bottom br--left">Violet90</li>
      <li class="c-card__item u-pa1 u-pa3-l u-bg-violet80 u-violet10 f6">Violet80</li>
      <li class="c-card__item u-pa1 u-pa3-l u-bg-violet70 u-violet10 f6">Violet70</li>
      <li class="c-card__item u-pa1 u-pa3-l u-bg-violet u-violet10 f6">Base</li>
      <li class="c-card__item u-pa1 u-pa3-l u-bg-violet30 u-violet10 f6">Violet30</li>
      <li class="c-card__item u-pa1 u-pa3-l u-bg-violet20 u-violet90 f6">Violet20</li>
      <li class="c-card__item u-pa1 u-pa3-l u-bg-violet10 u-violet90 f6 br3 br--bottom br--right">Violet10</li>
    </ul>
  </div>

  <div class="u-mb3">
    <section class="u-pa1 u-bg-pink u-pink10 f6 b ttu br3 br--top">Pink</section>
    <ul class="c-card c-card--no-gap c-card--no-border c-card--sevenths u-mv0 u-pl0">
      <li class="c-card__item u-pa1 u-pa3-l u-bg-pink90 u-pink10 f6 br3 br--bottom br--left">Pink90</li>
      <li class="c-card__item u-pa1 u-pa3-l u-bg-pink80 u-pink10 f6">Pink80</li>
      <li class="c-card__item u-pa1 u-pa3-l u-bg-pink70 u-pink10 f6">Pink70</li>
      <li class="c-card__item u-pa1 u-pa3-l u-bg-pink u-pink10 f6">Base</li>
      <li class="c-card__item u-pa1 u-pa3-l u-bg-pink30 u-pink10 f6">Pink30</li>
      <li class="c-card__item u-pa1 u-pa3-l u-bg-pink20 u-pink90 f6">Pink20</li>
      <li class="c-card__item u-pa1 u-pa3-l u-bg-pink10 u-pink90 f6 br3 br--bottom br--right">Pink10</li>
    </ul>
  </div>

  <div class="u-mb3">
    <section class="u-pa1 u-bg-aqua u-aqua10 f6 b ttu br3 br--top">Aqua</section>
    <ul class="c-card c-card--no-gap c-card--no-border c-card--sevenths u-mv0 u-pl0">
      <li class="c-card__item u-pa1 u-pa3-l u-bg-aqua90 u-aqua10 f6 br3 br--bottom br--left">Aqua90</li>
      <li class="c-card__item u-pa1 u-pa3-l u-bg-aqua80 u-aqua10 f6">Aqua80</li>
      <li class="c-card__item u-pa1 u-pa3-l u-bg-aqua70 u-aqua10 f6">Aqua70</li>
      <li class="c-card__item u-pa1 u-pa3-l u-bg-aqua u-aqua10 f6">Base</li>
      <li class="c-card__item u-pa1 u-pa3-l u-bg-aqua30 u-aqua10 f6">Aqua30</li>
      <li class="c-card__item u-pa1 u-pa3-l u-bg-aqua20 u-aqua90 f6">Aqua20</li>
      <li class="c-card__item u-pa1 u-pa3-l u-bg-aqua10 u-aqua90 f6 br3 br--bottom br--right">Aqua10</li>
    </ul>
  </div>

  <div class="u-mb3">
    <section class="u-pa1 u-bg-pear u-pear10 f6 b ttu br3 br--top">Pear</section>
    <ul class="c-card c-card--no-gap c-card--no-border c-card--sevenths u-mv0 u-pl0">
      <li class="c-card__item u-pa1 u-pa3-l u-bg-pear90 u-pear10 f6 br3 br--bottom br--left">Pear90</li>
      <li class="c-card__item u-pa1 u-pa3-l u-bg-pear80 u-pear10 f6">Pear80</li>
      <li class="c-card__item u-pa1 u-pa3-l u-bg-pear70 u-pear10 f6">Pear70</li>
      <li class="c-card__item u-pa1 u-pa3-l u-bg-pear u-pear10 f6">Base</li>
      <li class="c-card__item u-pa1 u-pa3-l u-bg-pear30 u-pear10 f6">Pear30</li>
      <li class="c-card__item u-pa1 u-pa3-l u-bg-pear20 u-pear90 f6">Pear20</li>
      <li class="c-card__item u-pa1 u-pa3-l u-bg-pear10 u-pear90 f6 br3 br--bottom br--right">Pear10</li>
    </ul>
  </div>

  <div class="u-mb3">
    <section class="u-pa1 u-bg-gold u-gold10 f6 b ttu br3 br--top">Gold</section>
    <ul class="c-card c-card--no-gap c-card--no-border c-card--sevenths u-mv0 u-pl0">
      <li class="c-card__item u-pa1 u-pa3-l u-bg-gold90 u-gold10 f6 br3 br--bottom br--left">Pear90</li>
      <li class="c-card__item u-pa1 u-pa3-l u-bg-gold80 u-gold10 f6">Pear80</li>
      <li class="c-card__item u-pa1 u-pa3-l u-bg-gold70 u-gold10 f6">Pear70</li>
      <li class="c-card__item u-pa1 u-pa3-l u-bg-gold u-gold10 f6">Base</li>
      <li class="c-card__item u-pa1 u-pa3-l u-bg-gold30 u-gold10 f6">Pear30</li>
      <li class="c-card__item u-pa1 u-pa3-l u-bg-gold20 u-gold90 f6">Pear20</li>
      <li class="c-card__item u-pa1 u-pa3-l u-bg-gold10 u-gold90 f6 br3 br--bottom br--right">Pear10</li>
    </ul>
  </div>

  <div class="u-mb3">
    <section class="u-pa1 u-bg-purple u-purple10 f6 b ttu br3 br--top">Purple</section>
    <ul class="c-card c-card--no-gap c-card--no-border c-card--sevenths u-mv0 u-pl0">
      <li class="c-card__item u-pa1 u-pa3-l u-bg-purple90 u-purple10 f6 br3 br--bottom br--left">Purple90</li>
      <li class="c-card__item u-pa1 u-pa3-l u-bg-purple80 u-purple10 f6">Purple80</li>
      <li class="c-card__item u-pa1 u-pa3-l u-bg-purple70 u-purple10 f6">Purple70</li>
      <li class="c-card__item u-pa1 u-pa3-l u-bg-purple u-purple10 f6">Base</li>
      <li class="c-card__item u-pa1 u-pa3-l u-bg-purple30 u-purple10 f6">Purple30</li>
      <li class="c-card__item u-pa1 u-pa3-l u-bg-purple20 u-purple90 f6">Purple20</li>
      <li class="c-card__item u-pa1 u-pa3-l u-bg-purple10 u-purple90 f6 br3 br--bottom br--right">Purple10</li>
    </ul>
  </div>

  <div class="u-mb3">
    <h2>Utility colours</h2>
    <ul class="c-card c-card--no-gap c-card--no-border c-card--sevenths u-mv0 u-pl0">
      <li class="c-card__item u-pa1 u-pa3-l u-bg-positive u-positive-light f6 br3 br--bottom br--left">Positive</li>
      <li class="c-card__item u-pa1 u-pa3-l u-bg-positive-light u-positive f6">Positive light</li>
      <li class="c-card__item u-pa1 u-pa3-l u-bg-caution u-caution-light f6">Caution</li>
      <li class="c-card__item u-pa1 u-pa3-l u-bg-caution-light u-caution f6">Caution light</li>
      <li class="c-card__item u-pa1 u-pa3-l u-bg-negative u-negative-light f6">Negative</li>
      <li class="c-card__item u-pa1 u-pa3-l u-bg-negative-light u-negative f6">Negative light</li>
      <li class="c-card__item u-pa1 u-pa3-l u-bg-neutral u-neutral-light f6">Neutral</li>
      <li class="c-card__item u-pa1 u-pa3-l u-bg-neutral-light u-neutral f6 br3 br--bottom br--right">Neutral light</li>
    </ul>
  </div>

</div>


