/* Buttons
========================================================================== */

  .c-btn {
    border-radius: 2px;
    border-width: $u1 / 3;
    border-style: solid;
    border-color: $Blue50;
    display: inline-block;
    text-decoration: none;

    &:visited {
      color: white;
    }

    &:focus {
      outline: 3px solid $Gold50;
    }
  }

  .c-btn--primary {
    background-color: $Blue50;

    &:hover,
    &:focus {
      background-color: lighten( $Blue50, 25% );
      border-color: lighten( $Blue50, 25% ); 
    }

    &:active {
      // border-bottom-color: lighten( $Blue50, 5% );
    }

  }

  .c-btn--secondary {
    border: $u1 / 3 solid $Blue50;
    color: $Blue50;
    
    &:visited {
      color: $Blue50;
    }

    &:hover,
    &:focus {
      background-color: lighten( $Blue50, 25% );
      border-color: lighten( $Blue50, 25% ); 
      color: $White;
    }

    &:active {
      // border-bottom-color: lighten( $Blue50, 5% );
    }

  }

  // .c-btn--secondary {
  //   background-color: $Blue50;
  //   border-bottom-color: darken( $Blue50, 5% );

  //   &:hover,
  //   &:active {
  //     border-bottom-color: darken( $Blue50, 5% );
  //   }

  //   &:focus {
  //     background: darken( $Blue50, 5% );
  //   }   
  // }

  .c-btn--tertiary {
    border: $u1 / 3 solid transparent;

    &:visited {
      color: $Blue50;
    }

    &:hover,
    &:focus {
      background-color: lighten( $Blue50, 25% );
      border-color: lighten( $Blue50, 25% ); 
      color: $White;
    }

    &:active {
      // border-bottom-color: lighten( $Blue50, 5% );
    }
  }

  // .c-btn--quarternary {
  //   background-color: $Pear;
  //   border-bottom-color: darken( $Pear, 5% );

  //   &:hover,
  //   &:active {
  //     border-bottom-color: darken( $Pear, 5% );
  //   }

  //   &:focus {
  //     background: darken( $Pear, 5% );
  //   }
  // }

  
/* Size variants
========================================================================== */

  .c-btn--s {
    font-size: $f6;
    padding: calc(#{$u1} / 1.3) $u2 calc(#{$u1} / 1.5);
  }

  .c-btn--m {
    padding: $u1 $u3;
  }

  .c-btn--l {
    font-size: $f5;
    padding: $u2 $u4;
  }

  .c-btn--xl {
    font-size: $f4;
    padding: $u3 $u5;
  }


  





