<nav role="navigation">
  <ul class="c-global-nav">
    <li class="c-global-nav__item"><a href="/components/preview/" class="c-global-nav__link c-global-nav__logo">{% include '@logo' %}</a></li>
    
      {#
      {{# primaryNav }}
      <li class="c-global-nav__item"><a href="{% url %}" class="c-global-nav__link">{% linkLabel %}</a></li>
      {{/ primaryNav }}
      #}

    {# <li class="c-global-nav__item"><a href="{% link.pages-homepage %}" class="c-global-nav__link">User</a></li> #}
  </ul>
</nav>

{#
<nav role="navigation">
  <ul class="c-global-nav">
    <li class="c-global-nav__item"><a href="/components/preview/" class="c-global-nav__link c-global-nav__logo">{%> @logo %}</a></li>
    
    {%# primaryNav %}
    <li class="c-global-nav__item"><a href="{% url %}" class="c-global-nav__link">{% linkLabel %}</a></li>
    {%/ primaryNav %}

    <li class="c-global-nav__item"><a href="{% link.pages-homepage %}" class="c-global-nav__link">User</a></li>
  </ul>
</nav>
#}


