<h1>1:1 ratio</h1>

<div class="bg-white border rounded-lg overflow-hidden max-w-xs">
  <div class="relative pb-2/3">
    <img class="" src="https://placeimg.com/960/960/tech/grayscale">
  </div>
</div>



<h1>4:3 ratio</h1>

<div class="bg-white border rounded-lg overflow-hidden max-w-xs">
  <div class="relative pb-2/3">
    <img class="" src="https://placeimg.com/960/720/tech/grayscale">
  </div>
</div>


<h1>16:9 ratio</h1>

<div class="bg-white border rounded-lg overflow-hidden max-w-xs">
  <div class="relative pb-2/3">
    <img class="" src="https://placeimg.com/960/540/tech/grayscale">
  </div>
</div>