/* ALERTS
===========================================

===========================================*/

.c-alert {
  background: white;
  color: black;
  line-height: $lh-copy;
  margin-bottom: $u2;
  padding: $u3;
  border-radius: 0 5px 5px 0;
  border-left-style: solid;
  border-left-width: $u1;
  border-left-color: $Grey50;
  box-shadow: 0 1px 5px 0 hsla(0,0%,0%,0.2);


  a {
    color: black;
  }

  p:last-child {
    margin-bottom: 0;
  }


}

// Alert for info
.c-alert--info {
  background: $Blue10;
  color: $Blue50;
  border-left-color: $Blue50;

  .c-btn {
    color: $Blue10; 
    background: $Blue50;
  }

  .c-btn--primary {
    border-bottom-color: $Blue60;
  }
}

// Alert for success
.c-alert--success {
  background: hsla(120,100%,94%,1);
  color: darkgreen;
  border-left-color: darkgreen;

  .c-btn {
    color: hsla(120,100%,94%,1); 
    background: darkgreen;
  }

  .c-btn--primary {
    border-bottom-color: $Blue60;
  }


  a {
    color: $Blue50;
  }
}



// Alert for caution
.c-alert--caution {
  background: $Gold10;
  color: $Gold70;
  border-left-color: $Gold70;

  .c-btn {
    color: $Gold90; 
    background: $Gold50;
  }

  .c-btn--primary {
    border-bottom-color: $Gold50;
  }
  
  a {
    color: $Gold90;
  }
}

// Alert for error
.c-alert--error {
  background: #f8d7da;
  color: darkred;
  border-left-color: darkred;


  .c-btn {
    color: #f8d7da; 
    background: darkred;
  }

  .c-btn--primary {
    border-bottom-color: darkred;
  }
  

  a {
    color: darkred;
  }
}