/* BREADCRUMBS
===========================================

===========================================*/

.breadcrumb {
  padding-top: $u1;
  padding-bottom: $u1;
}



  .breadcrumb__item {
    display: inline-block;
    overflow: hidden;
    font-size: $f6;
    vertical-align: top;

    @include mq-m {
      font-size: $f6;
    }
  }

  .breadcrumb__link {
    // color: $Aqua;

    &:visited {
      // color: $Aqua;
    }

    @include mq-m {
      font-size: $f6;
    }
  }



  .breadcrumb__separator {
    display: inline-block;
    width: $u2;
    // padding-right: $u1;
    // padding-left: $u1;
  
    // &:after {
    //   content: ">";
    // }
  
    path {
      // fill: $Grey2;
    }
  }
