/* APPLICANT TIMELINE
===========================================

===========================================*/

.table-timeline {

  th {
    background: var(--black);
    border: none;
    color: var(--white);
  }

  td {
    border: none;
    padding-top: var(--u-m);
    padding-bottom: var(--u-m);
  }

}