<nav role="navigation" class="o-cluster">
  <div>
    <a href="/components/preview/global-nav" class="c-global-nav__link c-global-nav__logo">
      <img src="{{ '/img/pp-logo.svg' | path }}" width="100px" alt="ei publican partnerships">
    </a>

    <div class="o-cluster">
      <ul class="c-global-nav">
        {% for item in primaryNav %}
          <li class="c-global-nav__item"><a href="{{ item.url }}" class="c-global-nav__link">{{ item.linkLabel }}</a></li>
        {% endfor %}
      </ul>
    </div>

  </div>
</nav>